IndentWidth: 2
ColumnLimit: 100

AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlignArrayOfStructures: Right
AlignAfterOpenBracket: BlockIndent

AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Linux
BreakStringLiterals: false

DerivePointerAlignment: true
PointerAlignment: Right
