IndentWidth: 4
ColumnLimit: 100

AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Linux
BreakStringLiterals: false

PointerAlignment: Left
