[submodule ".quotes/toh"]
	path = .quotes/toh
	url = git@git.earth2077.fr:leana/TOH-Quotes.git
[submodule ".quotes/fleabag"]
	path = .quotes/fleabag
	url = git@git.earth2077.fr:leana/fleabag-quotes.git
