*
!.gitignore
!.gitignore_global
!.gitconfig

!packages.txt

!.config/
!.config/starship.toml

!.config/fish/
!.config/fish/config.fish
!.config/fish/conf.d/
!.config/fish/conf.d/alias.fish
!.config/fish/conf.d/colorscheme.fish
!.config/fish/conf.d/locale.fish
!.config/fish/conf.d/starship.fish

!.config/fish/functions/
!.config/fish/functions/add_spacer_tile.fish
!.config/fish/functions/add_paths.fish
!.config/fish/functions/brew_update.fish
!.config/fish/functions/codewars_rust.fish
!.config/fish/functions/delete_old_tm_backups.fish
!.config/fish/functions/file_extension.fish
!.config/fish/functions/file_mantissa.fish
!.config/fish/functions/fish_greeting.fish
!.config/fish/functions/install_fisher.fish
!.config/fish/functions/ipp.fish
!.config/fish/functions/remove_path.fish
!.config/fish/functions/snakecase.fish
!.config/fish/functions/sync_notes.fish
!.config/fish/functions/timestamp.fish
!.config/fish/functions/upload.fish
!.config/fish/functions/ytdlp.fish

!.vimrc
!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/nvim/lua/core/
!.config/nvim/lua/core/init.lua
!.config/nvim/lua/core/bootstrap.lua
!.config/nvim/lua/core/plugins.lua
!.config/nvim/lua/core/settings.lua

!.tmux.conf

!.zshrc
!.bashrc

