.DS_Store
*
!.gitignore

!.config/
!.config/starship.toml

!.config/fish/
!.config/fish/conf.d/
!.config/fish/conf.d/alias.fish
!.config/fish/conf.d/starship.fish

!.config/fish/functions/
!.config/fish/functions/add_spacer_tile.fish
!.config/fish/functions/brew_update.fish
!.config/fish/functions/fish_greeting.fish
!.config/fish/functions/ipp.fish
!.config/fish/functions/timestamp.fish
!.config/fish/functions/ytdlp.fish

!.vim/
!.vim/colors/
!.vim/colors/monokai.vim
!.vim/colors/nord.vim
!.vimrc

